.footer_container {
  align-items: center;
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  /* height: 540px; */
  margin: 0 auto;
  width: 1440px;
}

.footer_container h2 {
  color: #3D3D3D;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  height: 32px;
  margin-top: 90px;
  text-align: center;
  width: 370px;
}

.footer_container .footer_call_to_action_p {
  color: #3D3D3D;
  height: 24px;
  margin-top: 16px;
  width: 342px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
}

.btn_footer {
  align-items: center;
  border: none;
  border-radius: 4px;
  display: flex;
  background: #5E20A4;
  height: 68px;
  margin-top: 22px;
  width: 304px;
}

.btn_footer img {
  margin-left: 25px;
  margin-right: 21px;
}

.btn_footer .footer_btn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
  width: 191px;
}

.btn_footer .footer_btn_container .medium_paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  height: 28px;
  line-height: 28px;
  margin-top: 24px;
  width: 191px;
}

.btn_footer .footer_btn_container .small_paragraph {
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  height: 16px;
  line-height: 16px;
  margin-bottom: 26px;
  margin-top: -16px;
  width: 147px;
}

.footer_anchor {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 24px;
}

.footer_navbar_container {
  align-items: center;
  display: flex;
  margin-top: 72px;
  width: 1440px;
}

.footer_navbar_container .hapu_logo {
  height: 24px;
  margin-left: 120px;
}

.footer_navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 325px;
  margin-right: 200px;
  text-align: center;
  width: 413px;
}

.footer_navbar button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  max-width: 120px;
  text-align: center;
}

.footer_social_links {
  display: flex;
  justify-content: space-between;
  margin-right: 128px;
}

.last_small_paragraph {
  color: #3D3D3D;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  margin-bottom: 32px;
  margin-top: 80px;
  mix-blend-mode: normal;
  text-align: center;
  opacity: 0.6;
}
