@media only screen and (min-width: 768px) {
  .btn {
    background-color: inherit;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    padding: 14px 28px;
    text-align: center;
  }
  
  .btn:hover { background: #eeeeee0c; }
  
  .round_btn {
    background-color: #00a870ef;
    border: none;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    height: 48px;
    margin-right: 16px;
    width: 48px;
  }
  
  .round_btn:hover { background-color: #00A870; }
  
  .round_btn img {
    margin: 14px 14px 14px 18px;
    height: 20px;
    width: 16px;
  }
  
  .btn_disabled {
    background: #00a870d0;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    display: inline-block;
    padding: 14px 28px;
    text-align: center;
  }
  
  .input {
    background: #ffffff;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    cursor: text;
    display: inline-block;
    height: 48px;
    text-align: center;
    width: 232px;
  }
  
  .danger { color: #ff0000; }
  .default { color: #3D3D3D; }
  .info { color: #1e90ff; }
  .navbar { color: #ffffff; }
  .success { color: #008000; }
  .warning { color: #ffa500; }
  
  .special { background: #00a870ee; }
  .special:hover { background: #00A870; }  
}