.main_content {
  background-color: #FAF9F7;
  height: 4134px;
  margin: 0 auto;
  width: 1440px;
}

.main_content hr {
  border: 1px solid #DFDFDF;
  height: 0;
  margin: 120px auto 64px;
  width: 784px;
}

.first_section {
  display: flex;
  margin-left: 228px;
  width: 1440px;
}

.main_left_content {
  margin-right: 56px;
  margin-top: 120px;
  text-align: left;
}

.main_left_content h2 {
  color: #3D3D3D;
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  height: 64px;
  line-height: 32px;
  margin-bottom: 40px;
}

.main_left_content p {
  color: #4A4A4A;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  height: 224px;
  margin-bottom: 40px;
  width: 444px;
}

.main_right_content {
  height: 392px;
  margin-top: 120px;
  width: 584px;
}
