* {
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.app_links {
  color: #5E20A4;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
